<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_category.name %>
</p>

<%= link_to 'Edit', edit_task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>
